COMPOSE_PROJECT_NAME=testing

ODOO_IMAGE=gauchocode/docker-odoo
ODOO_VERSION=16.0
#Normal Odoo port DEFAULT: 8069
ODOO_PORT=8079
#Port for long Polling DEFAULT: 8072
ODOO_LP_PORT=8072
MAIN_MODULE=base

PG_IMAGE=postgres
PG_VERSION=15.1-alpine
PG_DB=odoo  
PG_USER=odoo
PG_PASSWORD=odoo
PG_PATH=./postgresql

CUSTOM_ADDONS=./addons
CONF_PATH=./config
DATA_PATH=./data_dir
LOG_PATH=./log
SCRIPT_PATH=./scripts
FILE_PATH=./filestore


#Usar solo en ambiente dev
PROD_URL=
PROD_MASTER_KEY=