ODOO_IMAGE=
ODOO_VERSION=
ODOO_CONTAINER_NAME=
ODOO_PORT=

ODOO_SCRIPTS_CONTAINER_NAME=

PG_CONTAINER_NAME=
PG_IMAGE=
PG_VERSION=
PG_DB=
PG_USER=
PG_PASSWORD=
PG_PORT=
PG_PATH=

CUSTOM_ADDONS=
CONF_PATH=
DATA_PATH=
LOG_PATH=
SCRIPT_PATH=
#ENTRYPOINT=

# odoo produccion
#BASE_DIR_PROD=

# odoo staging
#BASE_DIR_STAGING=
