# Estandar para modulos.txt
# 1. Los comentarios comienzan con # y son ignorados por los scripts.
# 2. Un módulo por línea.
# 3. Los módulos locales se listan directamente sin prefijo.
# 4. Los módulos de GitHub/GitLab se clonaran en la carpeta addons, dentro de una carpeta con el nombre del repo
# los links los va a detectar si empiezan con "https" , iba a ser "http" pero daba error con el modulo http_routing
# Módulos base
sale_management
contacts
product
sale
sales_team
uom
account_ux
l10n_ar
l10n_latam_check
l10n_latam_invoice_document
account_payment_group
account
account_check_printing
account_debit_note
account_edi
account_edi_ubl_cii
account_payment
account_payment_invoice_online_payment_patch
analytic
base_vat
spreadsheet_account
l10n_latam_base
stock

https://github.com/ingadhoc/account-payment.git 
account_payment_group